<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <img src="../assets/Images/neo-logo1.png" class="logo">
        </li>
        <li>
          <a class="navbar-brand" href="">E-invoice</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          SignUp
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a routerLink="register/requester">Requester</a>
          <a routerLink="register/reviewer">Reviewer</a>
        </div>
      </div>
      <!-- <li><a routerLink="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <!-- <li *ngIf=[isloggedin]><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> -->
    </ul>
  </div>
</nav>